<div layout="row" layout-align="center">
  <md-toolbar class="md-table-toolbar" layout="row" layout-align="center">
    <div class="sub-head-container" layout="row"  layout-align="start center" flex="85">
      <div class="md-toolbar-tools">
        <span>Voitures</span>
      </div>
      <div class="white-icon">
        <a data-ui-sref="admin.cars.create">
            <i class="material-icons">add_box</i>
          </a>
      </div>
    </div>
  </md-toolbar>
</div>

<div class="list-group" layout="column" layout-align="center">

  <!-- <select>
    
      <option ng-repeat="mark in vm.marks" value="{{ mark.name }}">{{ mark.name }}</option>

  </select> -->

  <div layout="row" layout-align="center" layout-margin>
    <md-table-container flex="85">
      <table md-table>
        <thead md-head md-order="vm.orderBy">
          <tr md-row>
             <th hide-xs hide-sm></th>
             <th md-column md-order-by="mark.name">Mark</th>
             <th md-column md-order-by="model">Model</th>
             <th md-column md-order-by="power" hide-xs hide-sm>Power (ch)</th>
             <th md-column md-order-by="fuel" hide-xs hide-sm>Fuel</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr class="car"  md-row ng-repeat="car in vm.cars | orderBy:vm.orderBy">
            <td md-cell class="car" hide-xs hide-sm><img src="{{ car.imageURL }}" width="130px"></td>
            <td md-cell>{{ car.mark.name }}</td>
            <td md-cell>{{ car.model }}</td>
            <td md-cell hide-xs hide-sm>{{ car.power }}</td>
            <td md-cell hide-xs hide-sm>{{ car.fuel }}</td>
            <td md-cell><a class="dark-icon" data-ui-sref="admin.cars.edit({carId: car._id})"><i class="material-icons">mode_edit</i></a></td>
            <td md-cell><a class="dark-icon" ng-click="vm.remove(car, $event)"><i class="material-icons">delete</i></a></td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="cars.$resolved && !cars.length">
    No cars yet, why don't you <a data-ui-sref="admin.cars.create">create one</a>?
  </div>
</div>
