<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row"  layout-align="start center">
    <div class="md-toolbar-tools">
      <span>
        Parkings
      </span>
    </div>
  </div>
</md-toolbar>

<div class="list-group">
  <md-table-container>
  <table md-table>
    <thead md-head md-order="vm.orderBy">
       <tr md-row>
         <th md-column md-order-by="name">Names</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="parking in vm.parkings | orderBy:vm.orderBy">
        <td md-cell>{{ parking.name }}</td>
        <td md-cell style="text-align: center;"><img src="{{ parking.imageURL }}" height="30px"></td>
      </tr>
    </tbody>
  </table>
</div>
