<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row"  layout-align="start center">
    <div class="md-toolbar-tools">
      <span>
        Parkings
      </span>
    </div>
  </div>
</md-toolbar>

<div class="list-group">
  <md-table-container>
  <table md-table>
    <thead md-head md-order="vm.orderBy">
       <tr md-row>
         <th md-column md-order-by="name">Locations</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="parking in vm.parkings | orderBy:vm.orderBy">
        <td md-cell><a class="dark-icon" data-ui-sref="parkings.view({parkingId: parking._id})">{{ parking.name }}</a></td>
        <td md-cell>{{ parking.cars.length }} cars in this parking</td>
      </tr>
    </tbody>
  </table>
</div>
