<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row"  layout-align="start center">
    <div class="md-toolbar-tools">
      <span>
        Parking's location :&nbsp;
      </span>
      <span ng-bind="vm.parking.name"></span>
    </div>
  </div>
</md-toolbar>

<div class="list-group">
  <span class="lead" ng-bind="vm.parking.cars.length"></span><span> cars in this parking</span>
  <md-table-container>
    <table md-table>
      <thead md-head md-order="vm.orderBy">
        <tr md-row>
          <th md-column md-order-by="mark.name">Mark</th>
          <th md-column md-order-by="model">Model</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="cars in vm.parking.cars | orderBy:vm.orderBy">
          <td md-cell>{{ cars.mark.name }}</td>
          <td md-cell>{{ cars.model }}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
