<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row"  layout-align="start center">
    <div class="md-toolbar-tools">
      <span>
        Marques
      </span>
    </div>
    <div class="white-icon">
      <a data-ui-sref="admin.marks.create">
          <i class="material-icons">add_box</i>
        </a>
    </div>
  </div>
</md-toolbar>

<div class="list-group">
  <md-table-container>
  <table md-table>
    <thead md-head md-order="vm.orderBy">
       <tr md-row>
         <th md-column md-order-by="name">Names</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="mark in vm.marks | orderBy:vm.orderBy">
        <td md-cell>{{ mark.name }}</td>
        <td md-cell class="imageMark" style="text-align: center;"><img src="{{ mark.imageURL }}" height="30px"></td>
        <td md-cell><a class="dark-icon" data-ui-sref="admin.marks.edit({markId: mark._id})"><i class="material-icons">mode_edit</i></a></td>
        <td md-cell><a class="dark-icon" ng-click="vm.remove(mark, $event)"><i class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-warning text-center" data-ng-if="marks.$resolved && !marks.length">
  No marks yet, why don't you <a data-ui-sref="admin.marks.create">create one</a>?
</div>
