<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row"  layout-align="start center">
    <div class="md-toolbar-tools">
      <span>{{vm.parking._id ? 'Editer un parking existant' : 'Créer un parking'}}</span>
    </div>
  </div>
</md-toolbar>

  <div class="list-group">
    <form name="vm.form.parkingForm" class="form-horizontal" ng-submit="vm.save(vm.form.parkingForm.$valid)" novalidate>
      <fieldset layout="column">
      <md-input-container>
        <div class="form-group" show-errors>
          <label class="control-label" for="parking">Location</label>
          <input name="name" type="text" ng-model="vm.parking.name" id="name" class="form-control" placeholder="Location" required autofocus>
          <div ng-messages="vm.form.parkingForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Parking location is required.</p>
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label class="control-label" for="car">Car</label>
        <md-select ng-model="vm.parking.cars" ng-model-options="{trackBy: '$value._id' }" id="cars" class="form-control" required multiple>
          <md-option ng-repeat="car in vm.cars" ng-value="car">{{ car.mark.name }} {{ car.model }}</md-option>
        </md-select>

        <div ng-messages="vm.form.parkingForm.car.$error" role="alert">
          <p class="help-block error-text" ng-message="required">A least one car is required.</p>
        </div>
      </md-input-container>

      <md-input-container>
        <div class="form-group">
          <md-button type="submit" class="md-raised md-primary">{{vm.parking._id ? 'Update' : 'Create'}}</md-button>
        </div>
      </md-input-container>
      </fieldset>
    </form>
  </div>
