<md-toolbar class="md-table-toolbar" flex>
  <div class="sub-head-container" layout="row"  layout-align="start center">
    <div class="md-toolbar-tools">
      <span>
        Parkings
      </span>
    </div>
    <div class="white-icon">
      <a data-ui-sref="admin.parkings.create">
          <i class="material-icons">add_box</i>
        </a>
    </div>
  </div>
</md-toolbar>

<div class="list-group">
  <md-table-container>
  <table md-table>
    <thead md-head md-order="vm.orderBy">
       <tr md-row>
         <th md-column md-order-by="name">Locations</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="parking in vm.parkings | orderBy:vm.orderBy">
        <td md-cell>{{ parking.name }}</td>
        <td md-cell>{{ parking.cars.length }} cars in this parking</td>
        <td md-cell><a class="dark-icon" data-ui-sref="admin.parkings.edit({parkingId: parking._id})"><i class="material-icons">mode_edit</i></a></td>
        <td md-cell><a class="dark-icon" ng-click="vm.remove(parking, $event)"><i class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-warning text-center" data-ng-if="parkings.$resolved && !parkings.length">
  No parkings yet, why don't you <a data-ui-sref="admin.parkings.create">create one</a>?
</div>
